@model LetsTryAgain.Models.Player

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ranking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProspectLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProspectLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChipLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChipLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommitStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommitStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sleeper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sleeper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eligible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eligible)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
